.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 2px;

}

.explore-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;

}

#menu-items {
    transition: transform 0.3s ease;
}

#menu-items:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.explore-menu-list::-webkit-scrollbar {
    display: none;
}

.explore-menu-list p {
    font-size: 20px;
    font-family: 'outfit';

}

#menu-items img {
    border-radius: 50%;
    width: 9vw;

}

#menu-items .active {
    border: 4px solid tomato;

}

@media screen and (max-width:640px) {
    .explore-menu h1 {
        font-size: 20px;
    }


    .explore-menu-text {
        font-size: 15px;
    }

    #menu-items img {
        width: 25vw;
    }

    .explore-menu-list p {
        font-size: 15px;
    }

}